#header .container{
    display:flex;
    align-content: center;
}

#header .links-left-box{
    display:flex;
    justify-content: flex-end;
    flex:1;
}

#header .logo-box{
    margin:20px 0px;
    display:flex;
    justify-content: center;
    flex:1;
}

#header .links-right-box{
    display:flex;
    justify-content: flex-start;
    flex:1;
}

#header .link{
    color:#333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    padding:10px;
    font-weight: 500;
}